<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <script src="https://cdn.bootcss.com/vue/2.5.6/vue.js"></script>
    <style type="text/css">
      .toggleClassWrap {
        cursor: pointer;
      }
      .clicked {
        color: red;
      }
      li{
          margin-top: 10px;
      }
    </style>
  </head>

  <body>
    <div class="toggleClassWrap">
      <ul>
        <li
        v-for="(item, index) in desc"
        :key="index"
        :class="{clicked: index === currentIndex}"
        @click="change(index)"
        >
          {{ item.ctrlValue }}
        </li>
      </ul>
    </div>
    <script>
      var app = new Vue({
        el: '.toggleClassWrap',
        data: {
          desc: [
            {
              ctrlValue: 'test1',
            },
            {
              ctrlValue: 'test2',
            },
            {
              ctrlValue: 'test3',
            },
            {
              ctrlValue: 'test4',
            },
          ],
          currentIndex: 0,
        },
        methods: {
          change(index) {
            this.currentIndex = index;
            this.$nextTick(function () {
              // DOM操作放在$nextTick（）方法内
              console.log(this.currentIndex);
            });
          },
        },
      });
    </script>
  </body>
</html>
