<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <!-- 在父组件当中，最外层组件 -->
    <div id="app">
      <Child1
        :child1-info="child1"
        :child2-info="child2"
        v-on:test1="onTest1"
        v-on:test2="onTest2"
      >
      </Child1>
    </div>

    <script>
      // 孙组件
      let Child2 = {
        props: ['child2Info'],
        data() {
          return {};
        },
        mounted() {
          this.$emit('test2', '哈哈');
        },
        template: `
              <div class="child-2">
                <p @click="change" style="color:red">点击调用父级事件</p>
                <p>在最里层组件即孙组件当中child2:</p>
                <p>props-child2Info: {{ child2Info }}</p>
                <p> $attrs 的值: {{ $attrs }}</p>
                <p @click="list">{{$listeners}}</p>
                <hr>
              </div>`,
        methods: {
          change: function () {
            this.$emit('test1', '嘻嘻');
          },
          list:function(){
              console.log(this.$listeners)
              console.log(this.$attrs)
                return this.$listeners
              }
        },
      };

      // 子组件
      let Child1 = {
        components: { Child2 },
        props: ['child1Info'],
        data() {
          return {
            nice: '自定义myself'
          };
        },
        mounted() {
          //   this.$emit('test1', '嘻嘻');
          console.log(this.$listeners)
        },
        template: `
            <div class="child-1">
                <p>在子组件当中:</p>
                <p>props-child1Info: {{ child1Info }}</p>
                <p>$attrs: {{ $attrs }}</p>
                <p>{{11111111111}}</p>
                <p @click="listeners">{{listeners}}</p>
                <hr>
                <!-- Child2组件中能直接触发test的原因在于 B组件调用C组件时 使用 v-on 绑定了$listeners 属性 -->
                <!-- 通过v-bind 绑定$attrs属性，Child2组件可以直接获取到A组件中传递下来的props（除了child1组件中props声明的） -->
                <Child2 v-bind="$attrs" v-on="$listeners" :myself="nice"></Child2>
            </div>
            `,
           methods: {
            listeners:function(){
              console.log(this.$listeners)
              console.log(this.$attrs)
                return this.$listeners
              }
           }
      };

      new Vue({
        el: '#app',
        data() {
          return {
            child1: 'hahha',
            child2: 'asdsdasd',
          };
        },
        components: { Child1 },
        methods: {
          onTest1(msg) {
            console.log('test1 running...', msg);
          },
          onTest2(msg) {
            console.log('test2 running', msg);
          },
        },
      });
    </script>
  </body>
</html>
