<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <custom-input v-model="searchText"></custom-input>
      <!-- <custom-input v-bind:value="searchText" v-on:input="searchText = $event"></custom-input> -->
      <p>{{ searchText }}</p>
    </div>
    <script>
      Vue.component('custom-input', {
        props: ['value'],
        template: ` <input
				      :value="value"
				      @input="$emit('input', $event.target.value)"
				      placeholder="请输入内容">
				  `,
      });
      new Vue({
        el: '#app',
        data: {
          searchText: '',
        },
        methods: {},
      });
    </script>
  </body>
</html>
