<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
    <div id="app">
        <h1>Hello App!</h1>
        <p>
            <router-link to="/user/foo">Go to Foo</router-link>
            <router-link to="/user/bar">Go to Bar</router-link>
        </p>
        <router-view></router-view>
    </div>
    <script type="text/javascript">

    const User = {
        beforeRouteUpdate(to, from, next) {
            console.log(to)
            console.log(from)
        },
        methods: {
            print() {
                console.log(this.$route)
                console.log(this.$router.currentRoute)
            }
        },
        template: '<div @click="print">User {{ $route.params.id }}</div>',
    }
    
    const router = new VueRouter({
        routes: [
            { path: '/user/:id', component: User }
        ]
    })
    
    const app = new Vue({
        router
    }).$mount('#app')
    </script>
</body>
</html>

</html>
