<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>动态组件</title>
    <style>
      .tab-button {
        padding: 6px 10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid #ccc;
        cursor: pointer;
        background: #f0f0f0;
        margin-bottom: -1px;
        margin-right: -1px;
      }

      .tab-button:hover {
        background: #e0e0e0;
      }

      .tab-button .active {
        background: #fff444;
      }

      .tab {
        border: 1px solid #ccc;
        padding: 10px;
      }
    </style>
    <script src="https://unpkg.com/vue"></script>
  </head>

  <body>
    <div id="dynamic-component" class="demo">
      <button
        v-for="tab in tabs"
        :key="tab"
        :class="['tab-button', { active: currentTab === tab }]"
        @click="currentTab=tab"
      >
        {{ tab }}
      </button>
      <!-- 'Home', 'Posts', 'Archive' 这个click参数赋值也是一个难点,
        v-on:click="currentTab=tab"可以改写为v-on:click="changtab(tab)"-->
      <component :is="currentTabComponent" class="tab"> </component>
    </div>
    <script type="text/javascript">
      Vue.component("tab-home", {
        template: "<div>Home component主页</div>",
      });
      Vue.component("tab-posts", {
        template: "<div>Posts component文章，帖子</div>",
      });
      Vue.component("tab-archive", {
        template: "<div>Archive component档案，归档</div>",
      });

      new Vue({
        el: "#dynamic-component",
        data: {
          currentTab: "Home",
          tabs: ["Home", "Posts", "Archive"],
        },
        computed: {
          currentTabComponent() {
            return "tab-" + this.currentTab.toLowerCase(); // tab-home  tab-posts tab-archive
          },
        },
        // methods:{ // 模板的修改参考button的注释
        //   changtab (content){
        //     this.currentTab = content
        //   }
        // }
      });
    </script>
  </body>
</html>
