<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>vuee模板</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div :style="{fontSize:postFontSize+'em'}">
            <blog-post 
                v-for="post in posts" 
                :key="post.id" 
                :post="post" 
                @enlarge-text="postFontSize += $event">
            </blog-post> <!-- "text"或者text($event)都可以 -->
        </div>
    </div>
    <script>
        Vue.component('BlogPost', {
            props: {
                post: {
                    type: Object,
                    requied: true
                }
            },
            template: `
                <div class="blog-post">
                  <h3>{{ post.title }}</h3>
                  <button  @click="$emit('enlarge-text',0.1)">
                    Enlarge text
                  </button>
                  <div v-html="post.content">1</div>
                </div>
              `
        });
        new Vue({
            el: '#app',
            data: {
                posts: [
                    { id: 1, title: 'My journey with Vue', content:'1'},
                    { id: 2, title: 'Blogging with Vue', content:'2'},
                    { id: 3, title: 'Why Vue is so fun', content:'3'}],
                postFontSize: 1
            },
            // methods:{
            //   text(size) {
            //     console.log(size)
            //     this.postFontSize += size
            //   } // HTML模板中可以直接通过 $event 访问到被抛出的这个值，$event是原生
            // }
        })
    </script>
</body>

</html>