<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <style type="text/css">
      .chooser-component {
        position: relative;
        display: inline-block;
      }

      .chooser-list li {
        display: inline-block;
        border: 1px solid #e3e3e3;
        height: 25px;
        line-height: 25px;
        padding: 0 8px;
        margin-right: 5px;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
      }

      .chooser-list li.active {
        border-color: #4fc08d;
        background: #4fc08d;
        color: #fff;
      }
    </style>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/lodash.js/4.17.12-pre/lodash.js"></script>
  </head>
  <body>
    <div id="chooser">
      <ul class="chooser-list">
        <li
          v-for="(item, index) in versionList"
          :title="item.label"
          :class="{active: checkActive(index)}"
          @click="toggleSelection(index)"
        >
          {{ item.label }}
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      var vm = new Vue({
        el: '#chooser',
        data: {
          nowIndexes: [0],
          versionList: [
            {
              label: '手机',
              value: 0,
            },
            {
              label: '电脑',
              value: 1,
            },
            {
              label: '平板',
              value: 2,
            },
            {
              label: '单反',
              value: 3,
            },
            {
              label: 'Gopro7',
              value: 4,
            },
          ],
        },
        methods: {
          toggleSelection(index) {
            if (this.nowIndexes.indexOf(index) === -1) {
              this.nowIndexes.push(index); //没有就放进去
            } else {
              this.nowIndexes = _.remove(this.nowIndexes, (idx) => {
                return idx !== index; // 保留没有被点击的index
              });
              console.log(this.nowIndexes);
            }
          },
          checkActive(index) {
            return this.nowIndexes.indexOf(index) !== -1;
          },
        },
      });
    </script>
  </body>
</html>
